body{
    font-family: sans-serif;
    margin:0;
    display: flex; /* Makes the body a flex container */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    min-height: 100vh; /* Sets minimum height to viewport height */
    background-image: url("1111.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0,9;
  }

   .login-container {
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 5px;
    color: blue;
  }
  
  label {
    display: block;
    margin-bottom: 1px;
  }
  
  input[type="text"],
  input[type="password"], input[type ="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  p{
    line-height: 30px;
  }
  img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }